.feed {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px;
}

.feed__header > h2 {
    padding-bottom: 5px;

    font-size: 48px;
    line-height: 59px;

    color: #2F2E41;
}

.feed__subheader > h6 {

    font-style: normal;
    font-size: 24px;
    line-height: 29px;

    color: #F48B7B;
}

.feed__starter > h4 {
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
    font-family: 'Montserrat', sans-serif;
}

.posts {
    padding-left: 50px;
}

.feed__svg {
    padding-left: 10px;
}