.navbarOption {
    display: flex;
    align-items: center;
    padding: 30px 10px;
    cursor: pointer;
}

.navbarOption > a {
    text-decoration: none;
}

.navbarOption:hover {
    background-color: #F8AD9D;
    border-radius: 20px;
}

.navbarOption > h5 {
    color: #2F2E41;
    margin: 0;
}

.navbarOption > .MuiSvgIcon-root {
    font-size: xx-large;
    color: #F07167;
    margin: 0 20px;
}