.sideNavbar {
    display: flex;
    flex-direction: column;
    background: #F9DCC4;
    box-shadow: 0px 4px 78px rgba(0, 0, 0, 0.2);
    border-radius: 0 20px 20px 0;
    font-family: Poppins;
    height: 100vh;
}

.sideNavbar > h1 {
    font-weight: 400;
    padding: 20px;
    color: #F07167;
}

.sideNavbar > svg {
    width: 100%;
}